@import "base";

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-xs-small) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.5s ease;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 150%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}
